<% include header%>

        <!-- Home Content -->
          

        <div id="content" class="site-content">
            <div id="blog-wrapper">
                <div class="blog-holder center-relative">

                        <article id="post-2" class="blog-item-holder">
                                <div class="entry-content relative">
                                    <div class="content-1170 center-relative">
                                        <h2 class="entry-title">
                                            Register Account
                                             <div class="excerpt">
                                            Ini merupakan API untuk Register
                                        </div>
                                        </h2>
                                        <div class="cat-links">
                                            <ul>
                                                <li>
                                                    Staff and Costumer
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="entry-date published"> Link :</div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                localhost:3211/account/register
                            </article>
                            
                            <article id="post-2" class="blog-item-holder">
                                <div class="entry-content relative">
                                    <div class="content-1170 center-relative">
                                        <h2 class="entry-title">
                                            Login Account
                                             <div class="excerpt">
                                            Ini merupakan API untuk Login dan mendapatkan hak akses untuk menggunakan api
                                        </div>
                                        </h2>
                                        <div class="cat-links">
                                            <ul>
                                                <li>
                                                    Staff and Costumer
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="entry-date published"> Link :</div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                http://localhost:3211/account/login
                            </article>

                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Create data buku
                                     <div class="excerpt">
                                    Ini merupakan API untuk memasukan buku baru dalam database kita.
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Staff
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/book/add
                    </article>
                    

                        <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Update data buku
                                     <div class="excerpt">
                                    Ini merupakan API untuk mengupdate buku yang sudah masuk dalam database kita.
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Staff
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/book/update/:id
                    </article>
                    
                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Delete data buku
                                     <div class="excerpt">
                                    Ini merupakan API untuk mengahapus buku yang ada di dalam database kita.
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Staff
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/book/delete/:id
                    </article>  
                    
                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Create Order
                                     <div class="excerpt">
                                    API ini berfungsi sebagai jika ada costumer ingin membeli / mengorder buku.
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Costumer
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/order/add
                    </article>  

                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Lihat Semua Buku
                                     <div class="excerpt">
                                    Ini merupakan API untuk Melihat semua buku yang ada di database kita
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Costumer
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/book/
                    </article>  

                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Lihat Bedasarkan ID
                                     <div class="excerpt">
                                    Ini merupakan API untuk melihat list buku kita bedasarkan id yang dituju
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Costumer
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/book/cekId/:id
                    </article>  
                    
                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                   Lihat bedasarkan nama
                                     <div class="excerpt">
                                    Ini merupakan API untuk melihat buku bedasarkan nama yang dicari.
                                </div>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            Costumer
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published"> Link :</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        http://localhost:3211/book/cekName
                    </article>  
<% include footer%>